# MAC OS
.DS_Store

# Eclipse
.classpath
.project
.settings/

target/
classes/
tomcat.8080/
**/WEB-INF/lib/*

# DB
src/core/jdbc/ConnectionManager.java
MailConfig.java
application-properties.xml

# Grunt
node_modules/
npm-debug.log
jado_con.css
jado_con.js
jado_encrypt_con.js
jado.css
jado.js
jado_encrypt.js
