.formContainer div.col {
	margin: 80px 0px;
	background: rgba(255,255,255,0.3);
	padding: 30px 40px;
	border-radius: 12px;
}

.formContainer h2 { font-size: 24px; text-align: left; margin-bottom: 10px;}

.formContainer form div:nth-child(3) {
	visibility: hidden;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#formUser ul { width: 100%; }
#formSeller ul { width: 100%; }

.formContainer li {
	margin: 10px 0;
	width: 100%;
}

#formUser li:nth-child(7) { margin: 20px 0; padding-left: 5px; text-align: left; }

#formUser li:nth-child(7) p {
	float: left;
	font-size: 16px;
	margin-left: 11px;
	margin-top: 1px;
}
#formSeller li:nth-child(1) p:nth-child(1) { float:left; font-size: 18px; margin-top: 7px;}
#formSeller li:nth-child(1) input { float:left; width: 50%; margin-left: 10px;}
#formSeller li:nth-child(1) p:nth-child(2) { clear:both; font-size: 12px; color: red; margin: 10px 5px 20px 5px;}
#formSeller li:nth-child(3) input { width: 180px; }


.formContainer input, textarea {
	width: 100%;
	height: 30px;
    background: -webkit-linear-gradient(#f0f0f0, #fff, #fff, #fff);
    background: -o-linear-gradient(#f0f0f0, #fff, #fff, #fff);
    background: linear-gradient(#f0f0f0, #fff, #fff, #fff);
	border-radius: 5px;
	text-indent: 10px;
	font-size: 12px;
	border: #ddd solid 1px;
}

.formContainer input[type=checkbox] {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	width: 12px;
	height: 12px;
	float: left;
}

.formContainer input[type=radio] {
	width:12px;
}

.formContainer select {
	background: #FFBF42;
	width: 87px;
	height: 33px;
	line-height: 30px;
	border: 0;
	border-radius: 5px;
	color: #fff;
	text-indent: 5px;
	font-size: 12px;
	outline: none;
	-webkit-appearance: menulist;
}

.formContainer input[type=submit] {
	width: 70%;
	height: 40px;
	background: #FFBF42;
	border: 0;
	text-indent: 0;
	color: #fff;
	font-size: 16px;
	margin-top: 30px;
}
.formContainer a[name=delete] {
	display: inline-block;
	width: 70%;
	height: 30px;
	background: #FFBF42;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	border-radius: 5px;
	padding-top: 10px;

}

@media only screen and (max-width: 600px) {
	.formContainer form div {
		border-radius: 0px;
		margin: 0;
	}
}

.formContainer.scrollSellerEnroll #formUser {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.formContainer.scrollSellerEnroll #formSeller {
	visibility: visible;
}