#top {
	position: fixed;
  	top: 35px;
	width: 100%;
	opacity: 0.8;
}

.top_button {
	float: right;
	margin: 15px;
	font-size: 14.8px;
}

.top_bar {
	margin-top : 15px;
	float: right;
	height: 15px;
	width: 1.2px;
	background-color: black;
}